/* CSS file for landing-page-1.html */

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* Navigation Bar */
.navbar {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

.header-logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.header-links{
    display: flex;
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;;
}

.header-links li{
    display: flex;
    list-style-type: none;
    padding-left: 20px;
}

.header-links li:hover{
    display: flex;
    list-style-type: none;
    padding-left: 20px;
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
    padding: 10px 80px;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}