/* CSS file for landing-page-1.html */

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.navbar,
.hero {
    background-color: #1F2937;
    color: white;
}

.hero p,
.header-links {
    font-size: 18px;
    color: #E5E7EB;
}


/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

.header-logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.header-links{
    display: flex;
    list-style-type: none;
}

.header-links li{
    display: flex;
    list-style-type: none;
    padding-left: 20px;
}

.header-links li:hover{
    display: flex;
    list-style-type: none;
    padding-left: 20px;
    text-decoration: underline;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
    padding: 10px 80px 40px 80px;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.primary-button {
    background-color: #3882F6;
    color: white;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
}

.primary-button:hover {
    background-color: white;
    color: #3882F6;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
}

.hero-image {
    max-width: 600px;
}